# =========================
# Node / Package
# =========================
node_modules/

# =========================
# Build / Output
# =========================
_output/
dist/
.cache/
*.css.map

# Eleventy temp / output
.11ty-cache/
.11ty/_site/

# =========================
# CMS / Netlify
# =========================
.netlify/
*.redirects
*.headers

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
Desktop.ini

# =========================
# IDE / Editor
# =========================
.vscode/

# =========================
# Logs
# =========================
npm-debug.log*

# =========================
# Misc
# =========================
.env
.env.local
.env.*.local