---
title: "Maintenance en cours"
description: "Page de maintenance totale du site."
layout: "04-core/base.njk"
permalink: "maintenance-total.html"
hideHeaderFooter: true
hideMainPadding: true
---

{% from "03-organisms/error-layout.njk" import renderErrorLayout %}

{{ renderErrorLayout({
    name: "errLayoutMntT",
    datas: organisms["error-layout"].errorLayouts,
    fragmentGroupDatas: molecules["error-fragment-group"].errorFragmentGroups,
    headingDatas: atoms.heading.headings,
    buttonDatas: atoms.button.buttons,
    linkDatas: atoms.link.links,
    iconDatas: atoms.icon.icons
}) }}
