---
layout: "04-core/base.njk"
---

{# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
   Import Macros
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ #}

{# Atoms #}
{% from "01-atoms/heading.njk" import renderHeading %}

{# Molecules #}
{% from "02-molecules/breadcrumb.njk" import renderBreadcrumb %}

{# Organisms #}
{% from "03-organisms/section-article-hero.njk" import renderSectionArticleHero %}

{# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
   Breadcrumb
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ #}

{{ renderBreadcrumb({
  name: "breadcrArticle",
  datas: molecules.breadcrumb.breadcrumbs,
  linkDatas: atoms.link.links
}) }}

{# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
   Heading
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ #}

{{ renderHeading({
  name: "demoHead1",
  datas: atoms.heading.headings
}) }}

{# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
   Section Article Hero
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ #}

{{ renderSectionArticleHero({
  name: "demoSectAH1",
  datas: organisms["section-article-hero"].sectArtHeros,
  imageDatas: atoms.image.images,
  headingDatas: atoms.heading.headings
}) }}

{# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
   Article Content (Markdown rendered)
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ #}

<article class="prose lg:prose-xl mx-auto px-[var(--spacing-ui-default)] py-[var(--spacing-ui-maximal)]">
  {{ content | safe }}
</article>
