---
title: "Données absentes."
description: "La page que vous recherchez est introuvable."
layout: "04-core/base.njk"
permalink: "/404/"
tags: ["error", "404"]
hideHeaderFooter: true
---


{% from "03-organisms/error-layout.njk" import renderErrorLayout %}

{{ renderErrorLayout({ 
    name: "error_layout_404",
    datas: organisms["error-layout"]["error-layouts"],
    errorFragmentGroupDatas: organisms["error-fragment-group"]["error-fragment-groups"],
    errorFragmentDatas: molecules["error-fragment"]["error-fragments"],
    iconDatas: atoms.icon.icons,
    typographyDatas: atoms.typography.texts,
    buttonDatas: atoms.button.buttons,
    linkDatas: atoms.link.links
}) }}