---
title: "Erreur serveur"
description: "Une erreur est survenue sur le serveur."
layout: "04-core/base.njk"
permalink: "/500/"
tags: ["error", "500"]
hideHeaderFooter: true
---


{% from "03-organisms/error-layout.njk" import renderErrorLayout %}

{{ renderErrorLayout({ 
    name: "error_layout_500",
    datas: organisms["error-layout"]["error-layouts"],
    errorFragmentGroupDatas: organisms["error-fragment-group"]["error-fragment-groups"],
    errorFragmentDatas: molecules["error-fragment"]["error-fragments"],
    iconDatas: atoms.icon.icons,
    typographyDatas: atoms.typography.texts,
    buttonDatas: atoms.button.buttons,
    linkDatas: atoms.link.links
}) }}