---
title: "Redirection..."
description: "Page de redirection."
layout: "04-core/base.njk"
permalink: "/redirection/"
tags: ["redirect"]
---

<script>
  // Redirection to message section
  window.location.replace('/#message');
</script>

<noscript>
  <meta http-equiv="refresh" content="0; url=/#message" />
  <p>Redirection en cours...</p>
</noscript>