---
permalink: /admin/index.html
---
<!DOCTYPE html>
<html lang="{{ site.language | default('fr') }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Content Manager - {{ site.author }}</title>
    <link rel="icon" href="{{ site.favicon.ico | default('/assets/icons/favicon/favicon.ico') }}" />
  </head>
  <body>
    <script src="https://unpkg.com/decap-cms@{{ site.decap.version }}/dist/decap-cms.js"></script>
  </body>
</html>
