---
title: "Accueil"
description: "Page d'accueil du site"
layout: "04-core/base.njk"
permalink: "/"
---

<!-- MAINTENANCE: Uncomment to activate -->
<!-- <script>window.location.replace('/maintenance/');</script> -->

{# Import macros #}
{% from "01-atoms/button.njk" import renderButton %}
{% from "01-atoms/checkbox.njk" import renderCheckbox %}
{% from "01-atoms/chip-notification.njk" import renderChipNotification %}
{% from "01-atoms/heading.njk" import renderHeading %}
{% from "01-atoms/icon.njk" import renderIcon %}
{% from "01-atoms/image.njk" import renderImage %}
{% from "01-atoms/input.njk" import renderInput %}
{% from "01-atoms/link.njk" import renderLink %}
{% from "01-atoms/radio-button.njk" import renderRadioButton %}
{% from "01-atoms/select.njk" import renderSelect %}
{% from "01-atoms/tag.njk" import renderTag %}
{% from "01-atoms/toggle.njk" import renderToggle %}
{% from "01-atoms/tooltip.njk" import renderTooltip %}
{% from "01-atoms/vector.njk" import renderVector %}

{# Test button #}
<h2>Button Tests</h2>
{{ renderButton({
    name: "demoButton1",
    datas: atoms.button.buttons
}) }}

{# Test checkbox #}
<h2>Checkbox Tests</h2>
{{ renderCheckbox({
   id: "demoCheck1",
   datas: atoms.checkbox.checkboxes
}) }}

{# Test chip-notification #}
<h2>Chip Notification Tests</h2>
{{ renderChipNotification({
    name: "demoChip1",
    datas: atoms["chip-notification"].chipNotifs
}) }}

{# Test heading #}
<h2>Heading Tests</h2>
{{ renderHeading({
    name: "demoHead1",
    datas: atoms.heading.headings
}) }}

{# Test icon #}
<h2>Icon Tests</h2>
{{ renderIcon({
    name: "demoSmile1",
    datas: atoms.icon.icons
}) }}

{# Test image #}
<h2>Image Tests</h2>
{{ renderImage({
    name: "demoImage1",
    datas: atoms.image.images
}) }}

{# Test input #}
<h2>Input Tests</h2>
{{ renderInput({
    name: "demoInput1",
    datas: atoms.input.inputs
}) }}

{# Test link #}
<h2>Link Tests</h2>
{{ renderLink({
    name: "demoLink1",
    datas: atoms.link.links
}) }}

{# Test radio-button #}
<h2>Radio Button Tests</h2>
{{ renderRadioButton({
    id: "demoRadio1",
    datas: atoms["radio-button"].radioButtons
}) }}

{# Test select #}
<h2>Select Tests</h2>
{{ renderSelect({
    name: "demoSelect1",
    datas: atoms.select.selects
}) }}

{# Test tag #}
<h2>Tag Tests</h2>
{{ renderTag({
    name: "demoTag1",
    datas: atoms.tag.tags
}) }}

{# Test toggle #}
<h2>Toggle Tests</h2>
{{ renderToggle({
    id: "demoToggle1",
    datas: atoms.toggle.toggles
}) }}

{# Test tooltip #}
<h2>Tooltip Tests</h2>
{{ renderTooltip({
    name: "demoTooltip1",
    datas: atoms.tooltip.tooltips
}) }}

{# Test vector #}
<h2>Vector Tests</h2>
{{ renderVector({
    name: "demoVector1",
    datas: atoms.vector.vectors
}) }}
